body{
    background-color: #0099ff;
}

.container {
    text-align: center;
    margin-top: 100px;
    border-radius: 50%;
    

    
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #counter-wrapper {
    position: relative;
  }

  
  #counter {
    font-size: 48px;
    font-weight: bold;
    line-height: 120px;
    color: #333333;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .increment {
    background-color: #57c200;
    color: #ffffff;
  }
  
  .decrement {
    background-color: #ff3333;
    color: #ffffff;
  }
  
  .start {
    background-color: #0099ff;
    color: #ffffff;
  }
  
  .stop {
    background-color: #ff9900;
    color: #ffffff;
  }
  
  .reset {
    background-color: #999999;
    color: #ffffff;
  }
  